In [1]:
import pandas as pd

In [2]:
confirm = pd.read_csv('confirm.csv')

In [3]:
death = pd.read_csv('death.csv')
recover = pd.read_csv('recover.csv')

In [4]:
confirm.shape

(225, 50)

In [5]:
death.shape

(225, 50)

In [6]:
recover.shape

(225, 50)

In [7]:
confirm.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/2020',
       '1/23/2020', '1/24/2020', '1/25/2020', '1/26/2020', '1/27/2020',
       '1/28/2020', '1/29/2020', '1/30/2020', '1/31/2020', '2/1/2020',
       '2/2/2020', '2/3/2020', '2/4/2020', '2/5/2020', '2/6/2020', '2/7/2020',
       '2/8/2020', '2/9/2020', '2/10/2020', '2/11/2020', '2/12/2020',
       '2/13/2020', '2/14/2020', '2/15/2020', '2/16/2020', '2/17/2020',
       '2/18/2020', '2/19/2020', '2/20/2020', '2/21/2020', '2/22/2020',
       '2/23/2020', '2/24/2020', '2/25/2020', '2/26/2020', '2/27/2020',
       '2/28/2020', '2/29/2020', '3/1/2020', '3/2/2020', '3/3/2020',
       '3/4/2020', '3/5/2020', '3/6/2020', '3/7/2020'],
      dtype='object')

In [8]:
confirm = pd.melt(confirm, id_vars =['Province/State','Country/Region', 'Lat', 'Long'])
confirm.head()

  Province/State  Country/Region      Lat      Long   variable  value
0          Anhui  Mainland China  31.8257  117.2264  1/22/2020      1
1        Beijing  Mainland China  40.1824  116.4142  1/22/2020     14
2      Chongqing  Mainland China  30.0572  107.8740  1/22/2020      6
3         Fujian  Mainland China  26.0789  117.9874  1/22/2020      1
4          Gansu  Mainland China  36.0611  103.8343  1/22/2020      0

In [9]:
confirm.rename(columns={'variable':'Dates'}, inplace=True)

In [10]:
confirm.head()

  Province/State  Country/Region      Lat      Long      Dates  value
0          Anhui  Mainland China  31.8257  117.2264  1/22/2020      1
1        Beijing  Mainland China  40.1824  116.4142  1/22/2020     14
2      Chongqing  Mainland China  30.0572  107.8740  1/22/2020      6
3         Fujian  Mainland China  26.0789  117.9874  1/22/2020      1
4          Gansu  Mainland China  36.0611  103.8343  1/22/2020      0

In [11]:
death = pd.melt(death, id_vars =['Province/State','Country/Region', 'Lat', 'Long'], var_name='Dates')
death.head()

  Province/State  Country/Region      Lat      Long    Dates  value
0          Anhui  Mainland China  31.8257  117.2264  1/22/20      0
1        Beijing  Mainland China  40.1824  116.4142  1/22/20      0
2      Chongqing  Mainland China  30.0572  107.8740  1/22/20      0
3         Fujian  Mainland China  26.0789  117.9874  1/22/20      0
4          Gansu  Mainland China  36.0611  103.8343  1/22/20      0

In [12]:
recover = pd.melt(recover, id_vars =['Province/State','Country/Region', 'Lat', 'Long'], var_name='Dates')
recover.head()

  Province/State  Country/Region      Lat      Long    Dates  value
0          Anhui  Mainland China  31.8257  117.2264  1/22/20      0
1        Beijing  Mainland China  40.1824  116.4142  1/22/20      0
2      Chongqing  Mainland China  30.0572  107.8740  1/22/20      0
3         Fujian  Mainland China  26.0789  117.9874  1/22/20      0
4          Gansu  Mainland China  36.0611  103.8343  1/22/20      0

In [13]:
confirm.shape

(10350, 6)

In [14]:
recover.shape

(10350, 6)

In [15]:
death.shape

(10350, 6)

In [16]:
confirm['Dates'] = pd.to_datetime(confirm['Dates'])
death['Dates'] = pd.to_datetime(confirm['Dates'])
recover['Dates'] = pd.to_datetime(confirm['Dates'])

In [17]:
confirm.rename(columns={'value':'confirmed'}, inplace=True)
death.rename(columns={'value':'deaths'}, inplace=True)
recover.rename(columns={'value':'recovered'}, inplace=True)

In [18]:
confirm.isnull().sum()

Province/State    4324
Country/Region       0
Lat                  0
Long                 0
Dates                0
confirmed            0
dtype: int64

In [19]:
confirm['Province/State'].fillna(confirm['Country/Region'], inplace=True)
death['Province/State'].fillna(death['Country/Region'], inplace=True)
recover['Province/State'].fillna(recover['Country/Region'], inplace=True)

In [20]:
confirm.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Dates             0
confirmed         0
dtype: int64

In [21]:
death.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Dates             0
deaths            0
dtype: int64

In [22]:
recover.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Dates             0
recovered         0
dtype: int64

In [23]:
confirm.shape

(10350, 6)

In [24]:
death.shape

(10350, 6)

In [25]:
full = confirm.merge(death[['Province/State', 'Country/Region','Dates','deaths']], how='outer', 
              left_on = ['Province/State', 'Country/Region','Dates'],
              right_on = ['Province/State', 'Country/Region','Dates'])

In [26]:
full.head()

,Province/State,Country/Region,Lat,Long,Dates,confirmed,deaths
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,0
1,Beijing,Mainland China,40.1824,116.4142,2020-01-22,14,0
2,Chongqing,Mainland China,30.0572,107.8740,2020-01-22,6,0
3,Fujian,Mainland China,26.0789,117.9874,2020-01-22,1,0
4,Gansu,Mainland China,36.0611,103.8343,2020-01-22,0,0

In [27]:
full_data = full.merge(recover[['Province/State', 'Country/Region','Dates','recovered']], how='outer', 
              left_on = ['Province/State', 'Country/Region','Dates'],
              right_on = ['Province/State', 'Country/Region','Dates'])

In [28]:
full_data.head()

,Province/State,Country/Region,Lat,Long,Dates,confirmed,deaths,recovered
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,0,0
1,Beijing,Mainland China,40.1824,116.4142,2020-01-22,14,0,0
2,Chongqing,Mainland China,30.0572,107.8740,2020-01-22,6,0,0
3,Fujian,Mainland China,26.0789,117.9874,2020-01-22,1,0,0
4,Gansu,Mainland China,36.0611,103.8343,2020-01-22,0,0,0

In [29]:
full_data.shape

(10350, 8)

In [30]:
from datetime import datetime

In [31]:
full_data['Month-Year'] = full_data['Dates'].dt.strftime('%b-%Y')

In [32]:
full_data.head()

,Province/State,Country/Region,Lat,Long,Dates,confirmed,deaths,recovered,Month-Year
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,0,0,Jan-2020
1,Beijing,Mainland China,40.1824,116.4142,2020-01-22,14,0,0,Jan-2020
2,Chongqing,Mainland China,30.0572,107.8740,2020-01-22,6,0,0,Jan-2020
3,Fujian,Mainland China,26.0789,117.9874,2020-01-22,1,0,0,Jan-2020
4,Gansu,Mainland China,36.0611,103.8343,2020-01-22,0,0,0,Jan-2020

In [33]:
a= full_data['Province/State'].unique()

In [34]:
a[1]

'Beijing'

In [35]:
final = pd.DataFrame()
for i in a:
    test = full_data[full_data['Province/State']==i]
    test['daily_confirmed'] = test['confirmed'].diff()
    test['daily_death'] = test['deaths'].diff()
    test['daily_recovered'] = test['recovered'].diff()
    final = pd.concat([final,test], axis=0)

C:\Users\Navneet Gupta\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Navneet Gupta\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Navneet Gupta\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
final.shape

(10350, 12)

In [37]:
final.head()

,Province/State,Country/Region,Lat,Long,Dates,confirmed,deaths,recovered,Month-Year,daily_confirmed,daily_death,daily_recovered
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,0,0,Jan-2020,NaN,NaN,NaN
225,Anhui,Mainland China,31.8257,117.2264,2020-01-23,9,0,0,Jan-2020,8.0,0.0,0.0
450,Anhui,Mainland China,31.8257,117.2264,2020-01-24,15,0,0,Jan-2020,6.0,0.0,0.0
675,Anhui,Mainland China,31.8257,117.2264,2020-01-25,39,0,0,Jan-2020,24.0,0.0,0.0
900,Anhui,Mainland China,31.8257,117.2264,2020-01-26,60,0,0,Jan-2020,21.0,0.0,0.0

In [38]:
final = final.reset_index(drop=True)

In [39]:
final.shape

(10350, 12)

In [40]:
final.head(20)

,Province/State,Country/Region,Lat,Long,Dates,confirmed,deaths,recovered,Month-Year,daily_confirmed,daily_death,daily_recovered
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,0,0,Jan-2020,NaN,NaN,NaN
1,Anhui,Mainland China,31.8257,117.2264,2020-01-23,9,0,0,Jan-2020,8.0,0.0,0.0
2,Anhui,Mainland China,31.8257,117.2264,2020-01-24,15,0,0,Jan-2020,6.0,0.0,0.0
3,Anhui,Mainland China,31.8257,117.2264,2020-01-25,39,0,0,Jan-2020,24.0,0.0,0.0
4,Anhui,Mainland China,31.8257,117.2264,2020-01-26,60,0,0,Jan-2020,21.0,0.0,0.0
5,Anhui,Mainland China,31.8257,117.2264,2020-01-27,70,0,0,Jan-2020,10.0,0.0,0.0
6,Anhui,Mainland China,31.8257,117.2264,2020-01-28,106,0,0,Jan-2020,36.0,0.0,0.0
7,Anhui,Mainland China,31.8257,117.2264,2020-01-29,152,0,2,Jan-2020,46.0,0.0,2.0
8,Anhui,Mainland China,31.8257,117.2264,2020-01-30,200,0,2,Jan-2020,48.0,0.0,0.0
9,Anhui,Mainland China,31.8257,117.2264,2020-01-31,237,0,3,Jan-2020,37.0,0.0,1.0
10,Anhui,Mainland China,31.8257,117.2264,2020-02-01,297,0,5,Feb-2020,60.0,0.0,2.0
11,Anhui,Mainland China,31.8257,117.2264,2020-02-02,340,0,7,Feb-2020,43.0,0.0,2.0
12,Anhui,Mainland China,31.8257,117.2264,2020-02-03,408,0,14,Feb-2020,68.0,0.0,7.0
13,Anhui,Mainland China,31.8257,117.2264,2020-02-04,480,0,20,Feb-2020,72.0,0.0,6.0
14,Anhui,Mainland China,31.8257,117.2264,2020-02-05,530,0,23,Feb-2020,50.0,0.0,3.0
15,Anhui,Mainland China,31.8257,117.2264,2020-02-06,591,0,34,Feb-2020,61.0,0.0,11.0
16,Anhui,Mainland China,31.8257,117.2264,2020-02-07,665,0,47,Feb-2020,74.0,0.0,13.0
17,Anhui,Mainland China,31.8257,117.2264,2020-02-08,733,0,59,Feb-2020,68.0,0.0,12.0
18,Anhui,Mainland China,31.8257,117.2264,2020-02-09,779,1,72,Feb-2020,46.0,1.0,13.0
19,Anhui,Mainland China,31.8257,117.2264,2020-02-10,830,3,88,Feb-2020,51.0,2.0,16.0

In [41]:
final.isnull().sum()

Province/State       0
Country/Region       0
Lat                  0
Long                 0
Dates                0
confirmed            0
deaths               0
recovered            0
Month-Year           0
daily_confirmed    225
daily_death        225
daily_recovered    225
dtype: int64

In [42]:
final['daily_confirmed'].loc[final['Dates'] == '2020-01-22'] = final['confirmed']
final['daily_death'].loc[final['Dates'] == '2020-01-22'] = final['deaths']
final['daily_recovered'].loc[final['Dates'] == '2020-01-22'] = final['recovered']

C:\Users\Navneet Gupta\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [43]:
final.head()

,Province/State,Country/Region,Lat,Long,Dates,confirmed,deaths,recovered,Month-Year,daily_confirmed,daily_death,daily_recovered
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,0,0,Jan-2020,1.0,0.0,0.0
1,Anhui,Mainland China,31.8257,117.2264,2020-01-23,9,0,0,Jan-2020,8.0,0.0,0.0
2,Anhui,Mainland China,31.8257,117.2264,2020-01-24,15,0,0,Jan-2020,6.0,0.0,0.0
3,Anhui,Mainland China,31.8257,117.2264,2020-01-25,39,0,0,Jan-2020,24.0,0.0,0.0
4,Anhui,Mainland China,31.8257,117.2264,2020-01-26,60,0,0,Jan-2020,21.0,0.0,0.0

In [44]:
final.isnull().sum()

Province/State     0
Country/Region     0
Lat                0
Long               0
Dates              0
confirmed          0
deaths             0
recovered          0
Month-Year         0
daily_confirmed    0
daily_death        0
daily_recovered    0
dtype: int64

In [45]:
final.to_csv('Clean data.csv')